body {
  background: #f8f9fb;
  font-family: "Open Sans", sans-serif;
}

ul {
  width: 508px;
  li {
    width: 125px;
    list-style: none;
    float: left;
    border: 1px solid black;
    background-color: antiquewhite;
  }
}
